<h1 class="ui inverted header">Satellites</h1>

<table class="ui inverted basic compact celled table">
  <thead>
    <th class="rotate"><div><span>&nbsp;</span></div></th>
    <th class="rotate" *ngFor="let satellite of satellites"><div><span>{{satellite.name}}</span></div></th>
  </thead>
  <tbody>
    <tr *ngFor="let planet of planets">
      <th class="no-break">{{planet.name}}</th>
      <td *ngFor="let satellite of satellites" [ngClass]="hasSatelliteMatch(planet, satellite)">
      </td>
    </tr>
  </tbody>
</table>
