<div class="ui secondary vertical very padded inverted segment">
  <div class="ui container">
    <div class="ui grid">
      <div class="three wide column">
        <div class="ui secondary inverted compact vertical menu">
          <a routerLink="overview" routerLinkActive="active" class="item">Planets</a>
          <a routerLink="my-planets" routerLinkActive="active" class="item">My planets</a>
          <a routerLink="satellites" routerLinkActive="active" class="item">Satellites</a>
        </div>
      </div>
      <div class="twelve wide column">
        <div class="lead">
          <p>
            One of the main objectives of Walkr is to explore as many planets as possible.
            See the variety of planets or check out planet discovery information.
          </p>
          <p>
            We will provide optimal upgrade strategies when you fill in the discovered planets. <em>(WIP)</em>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical very padded inverted segment">
  <div class="ui container">
    <router-outlet></router-outlet>
  </div>
</div>
