<div class="galaxy"></div>
<div class="ui vertical inverted segment">
  <div class="ui container">
    <div class="ui secondary inverted pointing menu">
      <a class="item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Walkr API</a>
      <a class="item" routerLink="/planets" routerLinkActive="active">Planets</a>
      <a class="item" routerLink="/ships" routerLinkActive="active">Ships</a>
      <a class="item" routerLinkActive="active">Missions</a>
      <a class="item" routerLinkActive="active">Epics</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
