<table class="ui basic inverted unstackable table">
  <thead>
    <tr>
      <th>Completion date</th>
      <th>Percentage</th>
      <th>Reward in coins</th>
      <th>Energy</th>
      <th>Coins</th>
      <th>Food</th>
      <th>Resources</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rewards | async">
      <td>{{row.completion_date | date}}</td>
      <td>{{row.percentage | number:'1.2-2'}} %</td>
      <td><i class="walkr coin icon"></i> {{row.reward | number:'1.0-0'}}</td>
      <td>⚡ {{row.energy | number}}</td>
      <td><i class="walkr coin icon"></i> {{row.coins | number}}</td>
      <td><i class="walkr food icon"></i> {{row.food | number}}</td>
      <td>{{row.resources | number}}</td>
    </tr>
  </tbody>
</table>