body {
    background: #000;
}
.galaxy {
    background-image: url(assets/galaxy.jpg);
    height: 100%;
    width: 100%;
    opacity: 0.3;
    position: fixed;
}

.ui.inverted.segment {
    background: inherit;
}
.ui.inverted.basic.segment {
    background: inherit;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.ui.inverted.segment .ui.items > .item .meta,
.ui.inverted.segment .ui.items > .item .extra {
    color: rgba(255, 255, 255, .6);
}

.ui.header .ui.label {
    margin-left: 0;
}