<h1 class="ui inverted header">My planets</h1>
<table class="ui inverted basic table">
  <thead>
    <tr>
      <th colspan="8">Discovery</th>
      <th colspan="2">Upgrading</th>
      <th colspan="3">Production</th>
    </tr>
    <tr>
      <th>#</th>
      <th>Distance</th>
      <th>Planet name</th>
      <th>Discovery date</th>
      <th>Discovery duration</th>
      <th>Discovery price</th>
      <th>Discovery boost cubes</th>
      <th>Discovery boost energy</th>
      <th>Level</th>
      <th>Population</th>
      <th>Food required</th>
      <th>Completion time<br><small>(h:mm:ss)</small></th>
      <th>Production</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let discovery of discoveries; let i = index">
      <td>{{i}}</td>
      <td>{{discovery.distance | number}} LY</td>
      <td>{{discovery.planet.name}}</td>
      <td>{{discovery.discovery.date | date:'longDate'}}</td>
      <td>{{discovery.discovery.time | duration}}</td>

      <td *ngIf="discovery.upgrade; else noDiscoveryPrice">
        <i class="walkr coin icon"></i> {{discovery.upgrade.base_price.coins | number}}
      </td>
      <ng-template #noDiscoveryPrice><td>-</td></ng-template>

      <ng-template [ngIf]="discovery.discovery.boost" [ngIfElse]="noDiscoveryBoost">
        <td>{{discovery.discovery.boost.cubes | number}}</td>
        <td>{{discovery.discovery.boost.energy | number}}</td>
      </ng-template>
      <ng-template #noDiscoveryBoost><td>-</td><td>-</td></ng-template>

      <td>{{discovery.level || '-'}}</td>
      <td>{{discovery.population | number}}</td>

      <td *ngIf="discovery.production.requirements; else noRequirements">
        <i class="walkr food icon"></i> {{discovery.production.requirements.quantity | number}}
      </td>
      <ng-template #noRequirements><td>-</td></ng-template>

      <td>{{discovery.production.time | duration}}</td>

      <td *ngIf="discovery.production.resources.quantity; else noResources">
        <i class="walkr coin icon"></i> {{discovery.production.resources.quantity | number}}
      </td>
      <ng-template #noResources><td>-</td></ng-template>
    </tr>
  </tbody>
</table>
